<p style="color: green"><%= notice %></p>
<style>
  .container{
    display: grid;
    gap: 32px;
    grid-template-columns: 2fr 1.25fr;
    padding-left: 32px;
  }
  .drittel{
    background-color: #EFEFEF;
    padding:32px;
    border-left: 1px solid #DBDBDB;
    height: calc(100vh - 64px);
  }
  .note-heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 1px;
  }
  .note-heading-partial{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .go-back-button{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

  }
  

  
</style>



<div class="container">
  <div style="margin-top: 32px; ">
    <div class="note-heading">
      <div class="go-back-button" onclick="window.location.href='<%= notes_path %>'">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        <p style="font-size: 1.5rem;"><%= @note.title%></p>
      </div>
      <div class="note-heading-partial">
        <button class="small-white-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
          </svg>
        </button>
        <button class="small-white-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
          </svg>
        </button>
        
      </div>
    </div>
    <div style="max-height: calc(100vh - 32px - 33px - 17px); overflow-y: auto;">
    <%= render @note %>
    </div>
</div>
  <div class="drittel">
    <%= render template: "ais/sidebar", locals: { ais: @ais } %>

  </div>
</div>

