<!-- app/views/tasks/_form.html.erb -->
<%= form_with(model: task) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= form.fields_for :time do |time_fields| %>
    <div>
      <%= time_fields.label :starting_time %>
      <%= time_fields.text_field :starting_time %>
    </div>

    <div>
      <%= time_fields.label :ending_time %>
      <%= time_fields.text_field :ending_time %>
    </div>

    <div>
      <%= time_fields.label :repeat_on_day %>
      <%= time_fields.text_field :repeat_on_day %>
    </div>

    <!-- task_id als verstecktes Feld, falls benötigt -->
    <%= time_fields.hidden_field :task_id, value: task.id %>
  <% end %>

  <%= form.submit %>
<% end %>