<p style="color: green"><%= notice %></p>

<%= render @ai %>

<div>
  <%= link_to "Edit this ai", edit_ai_path(@ai) %> |
  <%= link_to "Back to ais", ais_path %>

  <%= button_to "Destroy this ai", @ai, method: :delete %>
</div>
