<style>
  :root {
    /* Farbvariablen */
    --primary-color: #00ff99;
    --dark-color: #000000;
    --white-color: #ffffff;
    --light-gray: #e6e4e4;
    --medium-gray: #c9c9c9;
    --dark-gray: #444343;
    --footer-bg: rgb(32, 31, 36);
    --footer-copyright-bg: rgb(19, 19, 19);
    
    /* Abstands-System */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-xxl: 48px;
    --space-3xl: 64px;
    
    /* Größen-System */
    --button-height: 48px;
    --card-border: 4px;
    --image-border: 12px;

    /* Font Größen*/
    --font-sm: 1rem;
    --font-md: 1.5rem;
    --font-xl: 2rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .main {
    padding: 0 10%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 64px;
    margin-top: 64px;
  }
  .cover {
    width: 100%;
    height: 600px;
    transition: .25s;
    object-fit: cover;
    object-position: center;
  }
  .title{
    font-size: var(--font-xl);
    margin-bottom: 8px;
   
  }
  .information{
    font-size: var(--font-sm);
    font-weight: bold;
  }
  .course-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    margin-top: 8px;
    padding-bottom: 16px;
  }
  .social-actions{
    display: flex;
    gap: 32px;
  }
  .likes{
    display: flex;
    gap: 4px;
    align-items: center
  }
  .likes-container{
    display:flex;
    gap: 24px;
  }
  .profile-picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 999px;
  }
  .heading{
    font-size: var(--font-md)
  }

  .latest-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: var(--button-height);
  cursor: pointer;
}

.latest-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--dark-color);
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
  transition: .3s;
}

.arrow {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.arrow-container {
  background-color: var(--dark-color);
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;

}

.latest-button-container:hover .latest-button {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.latest-button-container:hover .arrow {
  fill: var(--dark-color);
  stroke: var(--dark-color);
}

.latest-button-container:hover .arrow-container {
  background-color: var(--primary-color);
}

.latest-button-container:active {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5);
}
.table-of-contents-container{
}
.table-of-contents-item{
  padding: 8px;
  border-top: 1px solid #c9c9c9;
}
</style>
  <%= render "home/navbar" %>

<div id="<%= dom_id course %>">
  <div class="main">
    <div>
    <img class="cover"src="https://images.pexels.com/photos/12166189/pexels-photo-12166189.jpeg?cs=srgb&dl=pexels-op23-12166189.jpg&fm=jpg">
    <div class="course-header">
      <div>
        <p class="title"><%= course.title %></p>
        <div style="display: flex; gap: 8px;">
          <p class="information"><%= course.created_at.strftime("%d.%m.%Y") %></p>
          <p class="information">10452 Views</p>

        </div>
      </div>
      <div class="social-actions">
        <div class="likes-container">
          <div class="likes">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up"><path d="M7 10v12"/><path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"/></svg>
            <p>162</p>
          </div>
          <div class="likes">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-down-icon lucide-thumbs-down"><path d="M17 14V2"/><path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"/></svg>
            <p>14</p>
          </div>
        </div>
        <div style="display: flex; gap: 8px; align-items: center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share2-icon lucide-share-2"><circle cx="18" cy="5" r="3"/><circle cx="6" cy="12" r="3"/><circle cx="18" cy="19" r="3"/><line x1="8.59" x2="15.42" y1="13.51" y2="17.49"/><line x1="15.41" x2="8.59" y1="6.51" y2="10.49"/></svg>
          <p>Share</p>
        </div>
      </div>
    </div>
    <div style="margin-top: 32px;">
      <p class="heading" style="margin-bottom: 4px;">Description </p>
      <div><%= course.description %></div>
    </div>
    <div style="margin-top: 32px;">
      <p class="heading" style="margin-bottom: 4px;">Comments </p>
      <div>
        <img class="profile-picture" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
        <p>UserName</p>
      </div>
    </div>
    </div>

    <div>
      <div class="latest-button-container" onclick="window.location.href='http://127.0.0.1:3000/courses'">
                <div class="latest-button">START READING</div>
                <div class="arrow-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" stroke="white" class="arrow" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>

                    </svg>                
                </div>
            </div>
      <div>
        <div style="margin-top: 32px; margin-bottom: 32px;">
          <div>
            <p class="heading" style="margin-bottom: 8px">Author</p>
            <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 8px;">
              <img class="profile-picture" src="https://www.seokratie.de/wp-content/uploads/2018/03/astronautenkatze-im-weltall-751x497.jpg">
              <div style="display: flex; flex-direction: column;">
                <p class="information">Jimbo Oleg</p>
                <p>Oh leck mir die Eier</p>
              </div>
            </div >
            <p style=" padding-bottom: 16px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
          </div>
        </div>
      </div>
      <div style="margin-top: 32px; margin-bottom: 32px;" >
        <p class="heading" style="margin-bottom: 8px">Table of Contents</p>
        <div class="table-of-contents-container" >
          <p class="table-of-contents-item">1. oerkor oejrojera </p>
          <p class="table-of-contents-item">2. rrrrrrr awrr </p>
          <p class="table-of-contents-item">3. aiwzzwazsadryh jtdjdtj </p>
          <p class="table-of-contents-item">4. ofdtkxerkor ktkkt </p>
          <p class="table-of-contents-item">5. oerkor kxfkdfkyx </p>
          <p class="table-of-contents-item">6. 326e tw4et3 ofxtkejrojera </p>
          <p class="table-of-contents-item">7. oeryererkor oejr üorrjera </p>
          <p class="table-of-contents-item">8. oerkor oejrfrr xtkojera </p>
        </div>
      </div>
    </div>
  </div>
</div>
