<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= course.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= course.dislikes %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

</div>
